@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|PT+Sans+Caption&subset=latin,cyrillic);

body {
  background-color: #e3e1e1;
}
.menu-main {
  position: relative;
  overflow: hidden;
  list-style: none;
  margin: 0px 0 5px;
  margin-left: 30px;
  padding: 10px 0 5px;
  text-align: left;

  width: 40%;
}
.menu-main li {display: inline-block;}
.menu-main li:after {
  content: "|";
  color: white;
  display: inline-block;
  vertical-align:top;
}
.menu-main li:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: 2px;
  position: relative;
  padding-bottom: 10px;
  margin: 0 10px 0 10px;
  font-size: 14px;
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}
.menu-main a, .menu-main a:visited {color: white;}
.menu-main a.current, .menu-main a:hover{color: #feb386;}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: auto;
  right: 50%;
  bottom: 0px;
  left: 50%;
  background: #feb386;
  transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}   
@media (max-width: 550px) {
.menu-main {padding-top: 0;}
.menu-main li {display: block;}
.menu-main li:after {content: none;}
.menu-main a {
  padding: 25px 0 20px; 
  margin: 0 30px;
}
}

.header{
  overflow: hidden;
  background-color: #a1a9b4; 
  height: 8%; 
  font-family: 'Ubuntu Condensed', sans-serif; 
  padding-top: 1%; 
  padding-left: 1%;
}

.header h2 {
  color: white;

}

.term{
  margin-top: 5px;
  margin-right: 12px;
  margin-left: 5px;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  text-align: justify;
}

.frame_img{
  width: 100%;
  height: auto;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  text-align: justify;
}
.container li {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
}

.ull {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  text-align: justify;
}
.sidebar{
  background-color: #c0c2c1;
  width: 20%;
}

.main_page{
  height: 100%;
  margin-bottom: 0;

}

.vid{
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  text-align: justify;
}

footer{
  background-color: #636665;
  color: white;
  text-align: center;
  margin: 0 0 0 0;
}
.bot{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.w-dj{
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  text-align: justify;
}

.container.is-fluid{
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  text-align: justify;
}

.sidebar a {
  color: black;
}
p {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  text-align: justify;
}

.right{
  float: right;
  padding-left: 5px;
}
.left{
  float: left;
  margin-right: 5px;
}

.svoistva tr {
  text-align: justify;
}

.svoistva th {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  text-align: justify;
  width: 50%;
}

.svoistva td {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  text-align: justify;
  width: 50%;
}
.zad{
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  text-align: justify;
}
.vub{
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  text-align: justify;
}
.opr{
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  text-align: justify;
}
.prinz{
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  text-align: justify;
}
.redaktor{
  background: #7d7d7d;
  border-color: #7d7d7d;
}
.ustan{
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  text-align: justify;
}